* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0px;
}

.search-btn:hover {
    color: #0f0641 !important;
    border: 3px solid #0f0641 !important;
}